<div>
    <div class="infopanel-fixed-top">
        <div class="row border-dashed-lr">
            <div class="active-button pull-right" uib-tooltip="{{'CLOSE' | translate}}" tooltip-placement="bottom">
                <i data-ng-click="vm.close()" class="wodk-ico-kruis"></i>
            </div>
            <!--<div class="active-button pull-right" uib-tooltip="{{'BOOKMARK' | translate}}" tooltip-placement="bottom">
                <i data-ng-click="vm.bookmark()" class="wodk-ico-ster"></i>
            </div>-->
        </div>
    </div>
    <div class="infopanel-content scrolling" resize resize-y="55">
        <h2 class="infopanel-title" style="margin-top: 0px">Toelichting</h2>
        <ul class="fa-ul wodk-pdf-list">
            <li>
                <a href="http://www.zorgopdekaart.nl/files/2016-11/toelichting-woningvoorraad-woningaanpassingen-en-langer-zelfstandig-thuis-11.pdf"
                    target="_blank">
                    <span style="white-space: normal;">Toelichting bij de website 'Woningvoorraad, woningaanpassingen `Langer zelfstandig wonen`</span>
                </a>
            </li>
            <li>
                <a href="http://www.zorgopdekaart.nl/files/2016-09/toelichting-bij-de-rekenmodellen.pdf" target="_blank">
                    <span>Toelichting bij de rekenmodellen</span>
                </a>
            </li>
        </ul>
        <h2 class="infopanel-title">Overzichten</h2>
        <ul class="fa-ul wodk-pdf-list">
            <li class="inactive-button-toelichting" inactive>
                <a>
                    <span>Lijsten met overzichten van:</span>
                </a>
            </li>
            <li class="inactive-button-toelichting inactive-button-toelichting-sub" inactive>
                <a>
                    <span>Wijk</span>
                </a>
            </li>
            <li>
                <a href="http://www.zorgopdekaart.nl/bagwoningen/pdfs/html/LZW_wijk.htm" target="_blank">
                    <span>Grootste aantal inwoners</span>
                </a>
            </li>
            <li class="inactive-button-toelichting inactive-button-toelichting-sub" inactive>
                <a>
                    <span>Buurt</span>
                </a>
            </li>
            <li>
                <a href="http://www.zorgopdekaart.nl/bagwoningen/pdfs/html/LZW_buurt.htm" target="_blank">
                    <span>Grootste aantal inwoners</span>
                </a>
            </li>
            <li>
                <a href="http://www.zorgopdekaart.nl/bagwoningen/pdfs/html/LZW_65plus.htm" target="_blank">
                    <span>Grootste aandeel 65+</span>
                </a>
            </li>
            <li>
                <a href="http://www.zorgopdekaart.nl/bagwoningen/pdfs/html/LZW_mb.htm" target="_blank">
                    <span>Grootste aandeel mobiliteitsbeperkten</span>
                </a>
            </li>
            <li>
                <a href="http://www.zorgopdekaart.nl/bagwoningen/pdfs/html/LZW_instroom.htm" target="_blank">
                    <span>Grootste aandeel jaarlijkse instroom mobiliteitsbeperkten</span>
                </a>
            </li>
            <li>
                <a href="http://www.zorgopdekaart.nl/bagwoningen/pdfs/html/LZW_ster3.htm" target="_blank">
                    <span>Grootste aanbod 'ster 3' woningen</span>
                </a>
            </li>
            <li>
                <a href="http://www.zorgopdekaart.nl/bagwoningen/pdfs/html/LZW_match_ster3.htm" target="_blank">
                    <span>Grootste vraag t.o.v. het aanbod 'ster 3' woningen </span>
                </a>
            </li>
            <li>
                <a href="http://www.zorgopdekaart.nl/bagwoningen/pdfs/html/LZW_match_ster_2_3.htm" target="_blank">
                    <span>Grootste vraag t.o.v. het aanbod 'ster 2+3' woningen </span>
                </a>
            </li>
            <li>
                <a href="http://www.zorgopdekaart.nl/bagwoningen/pdfs/html/LZW_kosten.htm" target="_blank">
                    <span>Hoogste jaarlijkse aanpassingskosten / inwoner</span>
                </a>
            </li>
            <li>
                <a href="http://www.zorgopdekaart.nl/bagwoningen/pdfs/html/LZW_wmo.htm" target="_blank">
                    <span>Hoogste aandeel aanpassingskosten uit wmo-integratiebudget</span>
                </a>
            </li>
            <!-- <li class="divider" </li>
                <li class="inactive-button-toelichting">
                    <a>
                        <span>Rekenmodellen met de buurten van:</span><br>
                        <span>(volgorde: regeringszetel, dan op inwoners van gemeente, dan op buurten in alfabetische volgorde)</span>
                    </a>
                </li>
                <li class="no-content">
                    <label>Zoek gemeente: <input ng-model="searchDummy"></label>
                </li>
                <li ng-repeat="entry in vm.pdfLinks | filter:searchDummy">
                    <a href="{{entry.url}}" target="_blank">
                        <span>{{entry.name | limitTo: 80}}{{entry.name.length > 80 ? '&hellip;' : ''}}</span></a>
                </li>
            </li> -->
        </ul>
    </div>
</div>