<div>
    <div class="row" style="display: inline-block; width: 100%; background: #604A7B; color: #eeeeee; margin-top: -6px;">
        <div class="col-xs-8" style="font-size:16px; font-weight:bold; padding: 4px 4px; " uib-popover="{{'RANKING_HELP' | translate }}" popover-trigger="mouseenter" popover-append-to-body="false" popover-placement="bottom">{{'RANKING' | translate}} <i class="fa fa-info-circle fa-icon-large" style="margin-left: 6px" /></div>
        <div ng-hide="true" class="col-xs-8" style="margin-right:5px; position: absolute; top: 2px; right: 0px; padding-bottom: 4px; ">
            <a class="widget-min-max-close" ng-click="vm.close()" ng-if="vm.canClose()"><i class="fa fa-times"></i></a>
            <a class="widget-min-max-close" ng-click="vm.minimize()" ng-show="minimized"> <i class="fa fa-plus"></i></a>
            <a class="widget-min-max-close" ng-click="vm.minimize()" ng-hide="minimized"> <i class="fa fa-minus"></i></a>
            <a class="widget-min-max-close" ng-click="vm.exportToImage()"><i class="fa fa-save" uib-tooltip="{{'SAVE_AS_IMAGE' | translate}}" tooltip-trigger="mouseenter" tooltip-append-to-body="true" ng-show="vm.exporterAvailable&&!minimized"></i></a>
        </div>
    </div>
    <div class="form-group row sub-header-ranking" ng-hide="minimized" style="margin-top:-5px">
        <label for="select-prop" class="col-xs-4 col-form-label">{{'PROPERTY' | translate}}:</label>
        <div class="col-xs-8">
            <select id="select-prop" class="form-control" ng-change="vm.selectProp()" ng-model="vm.selectedProp" style="padding:0px 2px;">
                <option class="dropdown-item" ng-repeat="(prop, title) in data.rankingProperties" value="{{prop}}">{{title}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row sub-header-ranking" style="margin-bottom:8px">
        <label for="bins-input" class="col-xs-7 col-form-label">{{'NR_GROUPS' | translate}}:</label>
        <div class="col-xs-5">
            <!--<input class="form-control" type="number" min="1" max="10" ng-model="data.bins" id="bins-input" ng-model-options="{ debounce: 1000 }" ng-change="vm.selectProp()" style="max-width: 72px">-->
            <select id="bins-input" class="form-control" ng-init="vm.selectedBins = selectedBins || '5'; groups = [2,3,4,5,6,7,8,9,10]" ng-change="vm.selectProp()" ng-model="vm.selectedBins" >
                <option class="dropdown-item" ng-repeat="nr in groups track by nr" value="{{nr}}">{{nr}}</option>
            </select>
        </div>
    </div>
    <div class="legend-entry-list-table" data-ng-if="activeLegend.legendKind === 'discrete'">
            <div class="row legend-entry-item-row" data-ng-repeat="le in activeLegend.legendEntries" ng-class="{'pointer-cursor': $parent.$parent.activeStyleProperty}" ng-click="$parent.$parent.vm.toggleFilter(activeLegend, le)"
                uib-popover="{{'UTILS.FILTER' | translate}}" popover-trigger="mouseenter" popover-append-to-body="true" popover-placement="right" popover-enable="{{$parent.$parent.activeStyleProperty}}">
                <div class="col-xs-2 legend-entry-color-square" ng-style="{'background': le.color}"></div>
                <div class="col-xs-10 legend-entry-label text-right">{{le.label}}</div>
            </li>
        </ul>
    </div>
</div>