<div class="wodk-navbar" ng-class="{'no-mouse-events': !isOpen}">
    <div class="container-fluid animate-navbar" ng-show="isOpen">
        <div class="row wodk-navbar-logo-row" ng-class="{collapsed: !isOpen, opened: isOpen}">
            <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                <img class="wodk-navbar-logo" src="images/RO-logo-vws.svg" />
            </div>
        </div>
        <div class="row" ng-class="{collapsed: !isOpen, opened: isOpen}">
            <div class="col-sm-12 col-md-6 col-md-offset-3" style="margin-top: 16px;">
                <a data-ng-click="vm.publish('home')" class="text-grey no-underline">
                    <i class="wodk-ico-pijl_nav_links" style="font-size: 20px;"></i>
                    <span>{{'TERUG_NAAR_ZODK' | translate}}</span>
                </a>
            </div>
        </div>
        <div class="row" ng-class="{collapsed: !isOpen, opened: isOpen}">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <h2 class="wodk-navbar-title">{{'AANPASBAARHEID_WONINGEN' | translate}}</h2>
                <div>
                    Visualisatie van de huidige situatie van de aanpasbaarheid van woningen zodat gesprekken over de toekomstige infrastructuur gemakkelijker tot stand komen.
                </div>
            </div>
        </div>
        <div class="row" ng-class="{collapsed: !isOpen, opened: isOpen}">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div style="padding-top:24px;">
                    Tip: gebruik de <span class="inline-link" ng-click="vm.openTable()">data export</span> of de <span class="inline-link" ng-click="vm.openPdfs()">rekenmodellen</span> voor meer inzichten.
                </div>
            </div>
        </div>
        <div class="row" ng-class="{collapsed: !isOpen, opened: isOpen, 'wodk-row-nodisplay': vm.gemeenteOnly}">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="search-hint">{{'SEARCH_HINT' | translate}}</div>
                <form class="" role="search">
                    <div class="form-group wodk-form-group wodk-form-group-search">
                        <button ng-click="vm.selectFirstResult()" class="btn btn-success wodk-btn wodk-btn-purple">Zoek</button>
                        <!--<span><input id="search-address" type="text" class="form-control" ng-model="vm.addressQuery" ng-change="vm.filterAddress()" ng-keyup="$event.keyCode == 13 && vm.selectFirstAddress()"
                        placeholder="" autocomplete="off" autofocus>
                    </span>-->
                        <span><input id="search-address" type="text" class="form-control"
                        placeholder="" autofocus>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" ng-class="{collapsed: !isOpen || vm.gemeenteOnly, opened: isOpen && !vm.gemeenteOnly, 'wodk-row-nodisplay': !vm.gemeenteOnly}">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="search-hint">{{'SEARCH_HINT_GEMEENTE' | translate}}</div>
                <div class="form-group wodk-form-group wodk-form-group-search">
                    <button ng-click="vm.selectFirstGemeente()" class="btn btn-success wodk-btn wodk-btn-purple">Zoek</button>
                    <span>
                        <input id="search-gemeente" type="text" class="form-control" ng-model="vm.gemeenteQuery" ng-change="vm.filterGemeente()" ng-keyup="$event.keyCode == 13 && vm.selectFirstGemeente()" placeholder="" autocomplete="off" autofocus>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" ng-class="{collapsed: !isOpen, opened: isOpen}">
            <div id="search-suggestions-gemeente" class="col-sm-12 col-md-6 col-md-offset-3">
                <span class="ap-dropdown-menu ap-with-buurten ap-with-places" style="position: relative; top: 0px; left: 0px; right: auto; display: block;">
                    <div class="ap-dataset-places">
                        <span class="ap-suggestions" style="display: block;">
                            <div ng-repeat="city in vm.foundCities" class="ap-suggestion" ng-class="{'ap-cursor': hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                <span class="ap-name" style="white-space: normal" ng-click="vm.selectStyledGemeente(city)">{{city}}</span>
                            </div>
                        </span>
                    </div>
                </span>
            </div>
        </div>
        <div class="row wodk-navbar-last-row">
            <div class="col-sm-12 col-md-6 col-md-offset-3 text-center" style="margin-top: 50px">
                <a ng-click="vm.toggle()" class="btn btn-primary wodk-btn wodk-btn-blue">
                    <div>
                        <div style="font-size: 22px" class="fa fa-caret-up"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid wodk-navbar-backdrop animate-backdrop" ng-click="vm.toggle()" ng-show="isOpen">
    </div>
    <div class="container-fluid animate-navbar-btn" ng-show="!isOpen" style="position:absolute;top:0">
        <div class="row" style="background: transparent">
            <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
                <a class="btn btn-primary wodk-btn wodk-btn-blue open-navbar-btn all-mouse-events" ng-click="vm.toggle()">
                    <div>
                        <div style="font-size: 22px" class="fa fa-caret-down"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>