<div class="wodk-navbar container">
    <div class="row" ng-class="{collapsed: !isOpen, opened: isOpen}">
        <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
            <img class="wodk-navbar-logo" src="images/RO-logo.png" />
        </div>
    </div>
    <div class="row" ng-class="{collapsed: !isOpen, opened: isOpen}">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <h2>Aanpasbaarheid woningen</h2>
            <div>
                Een goed beeld geven van de regionale situatie van de aanpasbaarheid van woningen zodat partijen beter in staat zijn het
                gesprek aan te gaan m.b.t. tot toekomstig perspectief voor de infrastructuur.
            </div>
        </div>
    </div>
    <div class="row" ng-class="{collapsed: !isOpen, opened: isOpen}">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <br>
            <div class="text-grey">Zoek op plaatsnaam, postcode of adres</div>
            <form class="" role="search">
                <div class="form-group wodk-form-group">
                    <button ng-click="vm.selectFirstResult()" class="btn btn-success wodk-btn">Zoeken</button>
                    <!--<span><input id="search-address" type="text" class="form-control" ng-model="vm.addressQuery" ng-change="vm.filterAddress()" ng-keyup="$event.keyCode == 13 && vm.selectFirstAddress()"
                        placeholder="" autocomplete="off" autofocus>
                    </span>-->
                    <span><input id="search-address" type="text" class="form-control"
                        placeholder="" autofocus>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-class="{collapsed: !isOpen, opened: isOpen}">
        <div id="search-suggestions" class="col-sm-12 col-md-6 col-md-offset-3">
        </div>
    </div>
    <div class="row" ng-style="{background: (isOpen ? 'white' : 'transparent')}">
        <div class="col-sm-12 col-md-6 col-md-offset-3 text-center">
            <a ng-click="vm.toggle()" class="btn btn-primary wodk-btn">
                <div>
                    <div style="font-size: 22px" ng-class="{fa: true, 'fa-caret-up': isOpen, 'fa-caret-down': isOpen == false}"></div>
                    <div>MENU</div>
                </div>
            </a>
        </div>
    </div>
</div>