<div class="fill-height" id="wodk-widget-content">
    <!-- Province part (single column) -->
    <div id="provincie-widget" class="fill-height" ng-show="vm.wodkWidgetSvc.lastSelectedType=='provincie'">
        <div class="table fill-height" style="color: black">
            <div class="row wodk-title-row">
                <div class="col-xs-12">
                    <div style="display:inline-block;vertical-align:middle;text-align:center;background:rgba(0,0,175,1);width:28px;height:28px;border-radius:50% 0 0 50%;border-style:solid;border-color:rgba(0,0,150,1);border-width:2px;opacity:1;box-shadow:2px 3px 6px 0px rgba(0,0,0,0.75);margin:-4px 8px 0 0"><img src="images/i.png" style="width:24px;height:24px;display:block;"></div>
                    <div style="display: inline-block; font-size:20px; font-weight:bold; margin-bottom:2px;">{{vm.widget.title}}</div>
                    <div style="display: inline-block; margin-right:5px; position: absolute; top: 2px; right: 0px;">
                        <a class="widget-min-max-close" ng-click="vm.close()" ng-show="vm.canClose()"><i class="fa fa-times fa-white"></i></a>
                        <a class="widget-min-max-close" ng-click="vm.minimize()" ng-show="vm.canMinimize() && minimized"> <i class="fa fa-plus fa-white"></i></a>
                        <a class="widget-min-max-close" ng-click="vm.minimize()" ng-show="vm.canMinimize() && !minimized"> <i class="fa fa-minus fa-white"></i></a>
                        <a class="widget-min-max-close" ng-click="vm.exportToImage('wodk-widget-content')"><i class="fa fa-save fa-white" uib-tooltip="{{'SAVE_AS_IMAGE' | translate}}" tooltip-trigger="mouseenter" tooltip-placement="left" tooltip-append-to-body="true" ng-show="vm.exporterAvailable&&!minimized"></i></a>
                    </div>
                </div>
            </div>
            <div class="row row-eq-height wodk-subtitle-row">
                <div class="col-xs-12">
                    <div ng-show="vm.wodkWidgetSvc.lastSelectedType=='provincie'">{{'PROVINCIE' | translate}} {{vm.wodkWidgetSvc.lastSelectedName}}</div>
                </div>
            </div>
            <div class="row row-eq-height wodk-cumulative-row">
                <div class="col-xs-12" style="padding-top:6px">
                    <div style="padding:0px;font-size:12px;margin:0px;" ng-hide="minimized">
                        <wiz-markdown class="active-text" content="data.mdText"></wiz-markdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gemeente/buurt part (double columns) -->
    <div id="gemeente-buurt-widget" class="fill-height" ng-show="vm.wodkWidgetSvc.lastSelectedType=='gemeente' || vm.wodkWidgetSvc.lastSelectedType=='buurt'">
        <div class="table fill-height" style="color:black">
            <div class="row wodk-title-row">
                <div class="col-xs-12">
                    <div ng-show="vm.wodkWidgetSvc.lastSelectedType=='gemeente'" style="display:inline-block;vertical-align:middle;text-align:center;background:rgba(0,0,255,1);width:28px;height:28px;border-radius:50% 0 0 50%;border-style:solid;border-color:rgba(0,0,150,1);border-width:2px;opacity:1;box-shadow:2px 3px 6px 0px rgba(0,0,0,0.75);margin:-4px 8px 0 0"><img src="images/i.png" style="width:24px;height:24px;display:block;"></div>
                    <div ng-show="vm.wodkWidgetSvc.lastSelectedType=='buurt'" style="display:inline-block;vertical-align:middle;text-align:center;background:rgba(20,150,255,1);width:28px;height:28px;border-radius:50% 0 0 50%;border-style:solid;border-color:rgba(0,0,150,1);border-width:2px;opacity:1;box-shadow:2px 3px 6px 0px rgba(0,0,0,0.75);margin:-4px 8px 0 0"><img src="images/i.png" style="width:24px;height:24px;display:block;"></div>
                    <div style="display: inline-block; font-size:20px; font-weight:bold; margin-bottom:2px;">{{vm.widget.title}}</div>
                    <div style="display: inline-block; margin-right:5px; position: absolute; top: 2px; right: 0px;">
                        <a class="widget-min-max-close" ng-click="vm.close()" ng-show="vm.canClose()"><i class="fa fa-times fa-white"></i></a>
                        <a class="widget-min-max-close" ng-click="vm.minimize()" ng-show="vm.canMinimize() && minimized"> <i class="fa fa-plus fa-white"></i></a>
                        <a class="widget-min-max-close" ng-click="vm.minimize()" ng-show="vm.canMinimize() && !minimized"> <i class="fa fa-minus fa-white"></i></a>
                        <a class="widget-min-max-close" ng-click="vm.exportToImage('wodk-widget-content')"><i class="fa fa-save fa-white" uib-tooltip="{{'SAVE_AS_IMAGE' | translate}}" tooltip-trigger="mouseenter" tooltip-placement="left" tooltip-append-to-body="true" ng-show="vm.exporterAvailable&&!minimized"></i></a>
                    </div>
                </div>
            </div>
            <div class="row row-eq-height wodk-subtitle-row">
                <div class="col-xs-6 border-right border-right fixed-column-width">
                    <div ng-show="vm.wodkWidgetSvc.lastSelectedType=='gemeente'">{{'GEMEENTEN_CUMULATIEF' | translate}}</div>
                    <div ng-show="vm.wodkWidgetSvc.lastSelectedType=='buurt'">{{'BUURTEN_CUMULATIEF' | translate}}</div>
                </div>
                <div class="col-xs-6 fixed-column-width">
                    <div ng-show="vm.wodkWidgetSvc.lastSelectedType=='gemeente'">{{'GEMEENTE' | translate}} {{vm.wodkWidgetSvc.lastSelectedName}}</div>
                    <div ng-show="vm.wodkWidgetSvc.lastSelectedType=='buurt'">{{vm.wodkWidgetSvc.lastSelectedName}}</div>
                </div>
            </div>
            <div class="row row-eq-height wodk-cumulative-row">
                <div class="col-xs-6 border-right fill-height" style="padding-top:6px;max-width:314px;">
                    <div ng-show="vm.wodkWidgetSvc.lastSelectedType=='gemeente'" ng-repeat="item in vm.wodkWidgetSvc.gemeenteSelectie track by $index">
                        {{$index + 1}}. {{item.properties['Name']}}
                    </div>
                    <div ng-show="vm.wodkWidgetSvc.lastSelectedType=='buurt'" ng-repeat="item in vm.wodkWidgetSvc.buurtSelectie track by $index">
                        {{$index + 1}}. {{item.properties['Name']}}
                    </div>
                </div>
                <div class="col-xs-6" style="padding-top:6px">
                    <div ng-show="data.fileName">
                        <a ng-href="http://www.zorgopdekaart.nl/bagwoningen/pdfs/{{data.fileName}}.pdf" target="_blank" style="color: black;font-size: 12px;">Rekenmodel Langer zelfstandig wonen
                        <i class="fa fa-external-link"/></a>
                    </div>
                    <div style="padding:0px;font-size:12px;margin:0px;" ng-hide="minimized">
                        <wiz-markdown class="active-text" content="data.mdText"></wiz-markdown>
                    </div>
                </div>
            </div>
            <div class="row row-eq-height wodk-charts-row fill-height">
                <div class="col-xs-6 border-right fill-height">
                    <row-filter ng-if="filter && filter.filterType=='row'" style="margin-left:-12px"></row-filter>
                </div>
                <div class="col-xs-6 fill-height">
                    <row-visualizer ng-if="filter && filter.filterType=='row'"></row-visualizer>
                </div>
            </div>
        </div>
    </div>
</div>