<div>
    <div class="row">
        <div class="col-xs-12 wodk-baselayers-padding">
            <div class="wodk-baselayers-title">{{'CHOOSE_BASELAYER' | translate}}</div>
        </div>
    </div>
    <div class="row wodk-baselayers-entries pointer" data-ng-repeat="bl in data.baselayers" ng-click="vm.selectBaselayer(bl)">
        <div class="col-xs-3 wodk-baselayers-img">
            <img ng-src="{{bl.image}}"></img>
        </div>
        <div class="col-xs-9 wodk-baselayers-img-title">
            {{bl.title}}
        </div>
    </div>
    <div class="row wodk-baselayers-showlabels">
        <div class="col-xs-12 no-padding pointer" ng-click="vm.toggleLabels();">
            <input type="checkbox" ng-model="data.showLabels" ng-change="vm.selectBaselayer()">{{'SHOW_LABELS' | translate}}</input>
        </div>
    </div>
</div>