@font-face {
    font-family: "RO Sans";
    src: url('fonts/ROsanswebtextregular.woff') format('woff');
}

@font-face {
    font-family: "RO Sans";
    font-style: italic;
    src: url('fonts/ROsanswebtextitalic.woff') format('woff');
}

@font-face {
    font-family: "RO Sans";
    font-weight: bold;
    src: url('fonts/ROsanswebtextbold.woff') format('woff');
}
@font-face {
  font-family: 'wodk-icons';
  src:  url('fonts/wodk-icons.eot?jyz61e');
  src:  url('fonts/wodk-icons.eot?jyz61e#iefix') format('embedded-opentype'),
    url('fonts/wodk-icons.ttf?jyz61e') format('truetype'),
    url('fonts/wodk-icons.woff?jyz61e') format('woff'),
    url('fonts/wodk-icons.svg?jyz61e#wodk-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wodk-ico-"], [class*=" wodk-ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wodk-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 26px;
  padding: 0px 8px;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="wodk-ico-"]:hover, [class*=" wodk-ico-"]:hover,
[class^="wodk-ico-"]:active, [class*=" wodk-ico-"]:active,
[class^="wodk-ico-"]:focus, [class*=" wodk-ico-"]:focus {
    text-decoration: none;
}

.wodk-ico-zoom_out:before {
  content: "\e918";
}
.wodk-ico-donut:before {
  content: "\e900";
}
.wodk-ico-donut_2:before {
  content: "\e901";
}
.wodk-ico-download-csv:before {
  content: "\e902";
}
.wodk-ico-downloaden:before {
  content: "\e903";
}
.wodk-ico-download-geojson:before {
  content: "\e904";
}
.wodk-ico-downloadpdf:before {
  content: "\e905";
}
.wodk-ico-globe:before {
  content: "\e906";
}
.wodk-ico-hulp:before {
  content: "\e907";
}
.wodk-ico-info:before {
  content: "\e908";
}
.wodk-ico-kaart:before {
  content: "\e909";
}
.wodk-ico-kruis:before {
  content: "\e90a";
}
.wodk-ico-legenda:before {
  content: "\e90b";
}
.wodk-ico-link_pijl:before {
  content: "\e90c";
}
.wodk-ico-marker .path1:before {
  content: "\e90d";
  color: rgb(0, 0, 0);
}
.wodk-ico-marker .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wodk-ico-pdf:before {
  content: "\e90f";
}
.wodk-ico-pijl_nav_links:before {
  content: "\e910";
}
.wodk-ico-pijl_nav_rechts:before {
  content: "\e911";
}
.wodk-ico-printer:before {
  content: "\e912";
}
.wodk-ico-refresh:before {
  content: "\e913";
}
.wodk-ico-ster:before {
  content: "\e914";
}
.wodk-ico-ster-vol:before {
  content: "\e915";
}
.wodk-ico-woning:before {
  content: "\e916";
}
.wodk-ico-zoom_in:before {
  content: "\e917";
}

$header-grijs: rgba(238,
238,
238,
1);
$header-donkergrijs: rgba(190,
190,
190,
1);
$vws-donkerblauw-logo: #0f578e;
$vws-donkerblauw-1: #01689b;
$vws-donkerblauw-2: #cce0f1;
$vws-donkerblauw-3: #e5f0f9;
$vws-donkerpaars-1: #42145f;
$vws-donkerpaars-2: #c6b8cf;
$vws-donkerpaars-3: #e3dce7;
$vws-donkergroen-1: #275937;
$vws-donkergroen-2: #becdc3;
$vws-donkergroen-3: #dfe6e1;
$vws-bruin-1: #94710a;
$vws-bruin-2: #dfd4b5;
$vws-bruin-3: #efeada;
$rightpanel-width: 400px;
$rightpanel-tab-width: 35px;
$rightpanel-tab-height: 44px;
$info-tab-top: 211px;
body {
    font-family: "RO Sans";
    font-size: 18px;
}

.tooltip {
    z-index: 9999;
}

.justified-brand {
    position: absolute;
    left: 50%;
    /* 50% of your logo width */
    margin-left: -50px !important;
    display: block;
}

.nav>li.dropdown>a,
.navbar-default .navbar-nav>li>a {
    color: $header-grijs;
}

.bottom-navbar-content.collapse,
.bottom-navbar-content.collapsing  {
    position: absolute;
    z-index: 400;
    bottom: 50px;
    background: white;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-container .leaflet-control-attribution {
    margin: 0 30px 11px 0;
}

.leaflet-attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: blue;
    background-color: rgba(0, 0, 255, .5);
    margin: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.leaflet-attribution>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.wodk-navbar-title-only {
    font-size: 38px;
    font-weight: normal;
    background-color: transparent;
    float: left;
    margin: 64px 2px 2px 20px;
    color: black;
    cursor: default;
}

.nav>li.open>a,
.nav>li.active>a {
    color: black;
}

.navbar-fixed-top {
    background: transparent;
}

.navbar-fixed-subtop {
    background: #604A7B;
    top: 50px;
    z-index: 1031;
    border: 0;
    border-radius: 0;
}

.leftpanel-container {
    top: 100px !important;
    bottom: 90px !important;
}

.active-text {
    font-size: 12px !important;
    color: black;
}

.button-legend-color-entry {
    width: 12px;
    height: 12px;
}

.button-legend-entries {
    float: left;
    margin-right: 3px;
    margin-top: 1px
}

.button-container {
    background: rgba(229, 240, 249, 0.77);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 8px;
    color: black;
    min-height: 52px;
}

.button-container:active {
    background: #007bc7;
    color: white;
}

.button-container-down {
    background: #01689b;
    color: white;
}

.header-container {
    background: #007bc7;
}

.rightpanel-main {
    background: white;
    z-index: 9998;
    position: relative;
    height: 100%;
    padding: 0;
}

.rightpanel-container {
    width: 100%;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1031;
}

@media screen and (min-width: 600px) {
    .rightpanel-container {
        max-width: $rightpanel-width;
    }
}

a.no-underline {
    text-decoration: none;
}

a:hover.no-underline span{
    text-decoration: underline;
}

h2 {
    font-size: 38px;
    margin-left: 20px;
}

ul.wodk-pdf-list {
    margin-right: 2.14em;
}

ul.wodk-pdf-list li:before {
    font-family: 'wodk-icons' !important;
    content: "\e905";
    font-size: 28px;
    line-height: 32px;
    vertical-align: middle;
}

ul.wodk-pdf-list li.inactive-button-toelichting:before,
ul.wodk-pdf-list li.no-content:before,
ul.wodk-pdf-list li.divider:before {
    content: none;
}

ul.wodk-pdf-list li {
    margin: 6px 0px;
}

ul.wodk-pdf-list li.inactive-button-toelichting a,
ul.wodk-pdf-list li.no-content a{
    color: black;
    font-size: 120%;
}

.navbar-inverse .navbar-nav.navbar-right li > a > div {
    border-left: 1px solid #ccc;
    padding: 6px 12px;
}

.infopanel-title,
.stylepanel-title {
    font-size: 28px;
}

.infopanel-content,
.stylepanel-content {
    font-size: 16px;
}

.infopanel-container,
.stylepanel-container {
    max-width: 100%;
    width: 100%;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1033;
    background: white;
    display: block;
}

.stylepanel-card-title {
    color: $vws-donkerblauw-logo;
    font-size: 18px;
    font-weight: bold;
}

.stylepanel-card-description {
    color: black;
    font-size: 18px;
    padding-bottom: 16px;
}

.stylepanel-card-image {
    padding: 16px 0px;
    width: 100%;
}

.row-equal {
    display: flex;
    flex-wrap: wrap;
}

.full-height {
    height: 100%;
}

@media screen and (min-width: 768px) {
    .infopanel-container,
    .stylepanel-container {
        max-width: 50%;
    }
}

.rightpanel-container>.row {
    padding: 0;
    height: 100%;
}

.modal-backdrop.in {
    display: block;
}

.modal {
    overflow-y: hidden!important;
    z-index: 9997!important;
}

.modal-dialog {
    height: 100%;
    padding-bottom: 50px;
}

.modal-header {
    height: 60px;
}

.modal-body-scrollable {
    width: 100%;
    overflow: auto;
}

.modal-content {
    height: 100%;
    border-radius: 0;
    border: none;
}

.modal-footer {
    height: 50px;
}

.spinner>div {
    background-color: black;
    width: 24px;
    height: 24px;
    border: solid 1px black;
}

.spinner>h2 {
    color: black;
    font-weight: bold;
    border-radius: 0%;
    -webkit-animation: bouncedelaytext 1.4s infinite ease-in-out;
    animation: bouncedelaytext 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    text-shadow: white 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes bouncedelaytext {
    0%,
    80%,
    100% {
        -webkit-transform: scale(1.0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes bouncedelaytext {
    0%,
    80%,
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.navbar-brand,
.navbar-nav>li>a {
    text-shadow: none;
}

.wodk-info-tab {
    background: $vws-donkerpaars-1;
    width: $rightpanel-tab-width;
    height: $rightpanel-tab-height;
    position: absolute;
    right: $rightpanel-width;
    top: $info-tab-top;
    color: white;
    font-size: 14px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.wodk-info-tab-inner {
    margin: auto;
    text-align: center;
}

.wodk-info-tab-inner i {
    font-size: 22px;
}

.wodk-info-tab-inner div {
    line-height: 22px;
    vertical-align: top;
    display: inline-block;
    font-style: italic;
}

.italic {
    font-style: italic;
}

.wodk-info-tab-collapsed {
    right: 0px;
    z-index: 80;
}

.wodk-info-tab-collapsed-wide {
    width: 100px;
}

.rightpanel-shadow {
    box-shadow:-2px 0 10px rgba(0,0,0,.5);
}

.rightpanel-content {
    border: 1px #604A7B solid;
    border-radius: 0 0 4px 4px;
}

.callout-icon {
    margin-left: 5px;
    width: 48px;
    height: 48px;
}

.search-result-dropdown {
    background-color: white;
    margin-left: 60px;
    margin-top: 50px;
    height: 100%;
    min-height: 240px;
    max-width: 400px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
}

.search-result-list {
    position: relative;
    height: 75%;
    top: 0px;
}

.marker-cluster-small {
    background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-large {
    background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(15, 225, 255, 0.6);
}

.dc-chart g.row circle {
    cursor: pointer;
}

.dc-chart circle.deselected {
    stroke: none;
    fill: #ccc;
}

.dc-chart g.row polygon {
    cursor: pointer;
}

.dc-chart polygon.deselected {
    stroke: none;
    fill: #ccc;
}

.dc-chart rect {
    cursor: pointer;
}

.dc-chart path {
    cursor: pointer;
}

#legendboxtip {
    fill-opacity: 0.8;
}

#checkboxcheck.deselected {
    opacity: 0;
}

#checkboxcheck.selected {
    opacity: 1;
}

#checkboxbox.selected {
    stroke: black;
}

#checkboxbox.deselected {
    stroke: black;
}

#searchInput:-ms-input-placeholder {
    color: grey;
}

#searchInput {
    border-style: inset;
    padding: 1px;
}

.row {
    margin: 0 0 0 0;
    overflow: hidden;
}

#wodk-widget-content .row [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.border-right {
    border-right: 2px #604A7B solid;
}

.border-bottom {
    border-bottom: 2px #CCC1DA solid;
}

.fill-height {
    height: 100%;
}

.wodk-title-row {
    background: #604A7B;
    color: white;
    padding: 4px;
    display: block;
}

.wodk-subtitle-row {
    background: #CCC1DA;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
}

.list-unstyled>li {
    color: black;
}

.fixed-column-width {
    width: 310px;
}

.active-button {
    color: $header-grijs;
    font-size: 1.3em;
    cursor: pointer;
}

.active-button > i {
    color: #333;
    font-size: 26px;
    line-height: 26px
}

.active-button-toelichting {
    color: $header-grijs;
    margin: 0;
    font-size: 1.0em;
    margin-left: 32px;
}

.active-button-toelichting>label {
    color: black;
    margin-top: 4px;
    font-weight: 500;
}

.wodk-rightpanel .active-button {
    padding: 0px 6px;
}

.inactive-button-toelichting {
    background: #ccc;
    color: $header-grijs;
    margin: 0;
    font-size: 1.0em;
    pointer-events: none;
    padding: 8px;
}

.dropdown-menu .divider {
    margin: 4px 0;
}

.inactive-button {
    margin: 0;
    color: #777777!important;
    pointer-events: none!important;
    cursor: default;
}

.fa-white {
    color: white;
}

.active-text table tbody tr td {
    border-bottom: 1px #CCC1DA solid;
    border-top: 1px #CCC1DA solid;
    font-size: 12px;
}

.active-text table tbody tr th {
    font-size: 12px;
}

.dashboard-active {
    background: #CCC1DA;
    color: black;
}

.panel-heading {
    padding: 2px 10px 2px 10px;
}

.feature-prop-item {
    min-height: 20px;
}

.feature-prop-content {
    display: none;
}

.feature-prop-value-align-right {
    margin-top: -1.1em;
}

.icons-on-hover {
    height: 0px;
}

.icons-on-hover:hover {
    display: none!important;
}

.dashboard-active>a>span {
    background: #CCC1DA;
    color: black;
}

.rightpanel-tabs-container {
    height: 100%;
}

.tab-pane {
    height: 100%;
    width: 100%;
}

.tab-content {
    background: white;
    height: 100%;
    width: 100%;
}

.dc-chart g.row text {
    font-size: 12px;
    font-family: Lucida Console, Consolas, Courier New, Monaco, monospace;
}

.popover-content {
    min-width: 150px;
    margin-right: 10px;
}

.navbar-nav>li:hover>.dropdown-menu {
    // display: block;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.form-group.row>label {
    padding-left: 4px;
    padding-top: 2px;
}

.form-group.row>div>select {
    margin: 4px 0px;
    font-size: 12px;
}

.widget-container {
    padding: 0px;
}

.widget-min-max-close {
    color: $header-grijs;
}

.sub-header-ranking {
    background: rgb(204, 193, 218);
}

.popover {
    color: #222;
}

#search-suggestions-rp {
    padding-left: 2px;
}

.selected-items-rp .btn-group {
    padding: 2px 1px;
}

.selected-items-rp {
    margin: 10px 0px 16px 0px;
}

.legend-entry-color-square {
    height: 18px;
    width: 18px;
    margin: 7px;
    padding: 7px;
}

.legend-entry-label {
    height: 32px;
    line-height: 32px;
    color: #000;
    font-size: 14px;
    padding-left: 0px;
}

.legend-hint {
    font-size: 14px;
    color: dimgrey;
    padding-top: 12px;
}

.legend-description-label {
    color: #000;
    font-size: 14px;
    padding-left: 20px;
}

.legend-padding {
    padding: 0px 20px;
}

.wodk-link {
    font-style: italic;
    width: 100%;
    display: inline-block;
    padding-bottom: 8px;
    font-size: 16px;
}

.wodk-border-bottom {
    border-bottom: 1px solid #ccc;
}

.wodk-link-rapport {
    border-bottom: none;
    width: auto;
    font-style: normal;
}

.inline-link {
    text-decoration: underline;
    cursor: pointer;
}

.legend-description-title {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 24px 12px 0px 20px;
    line-height: 1.2em;
}

.legend-entry-item-row {
    border-bottom: black 1px dashed;
}

.bold {
    font-weight: bold;
}

.legend-entry-list-table {
    margin: 8px 15px;
    padding-bottom: 8px;
}

#widget-rankingwidg {
    background-color: #e3dce7;
}

#widget-rankingwidg label {
    color: black;
}

.alert-info {
    background: #e3dce7;
}

.csNotify {
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
}

.wodk-navbar-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
}

.animate-backdrop {
    z-index: 1109;
}

.animate-backdrop.ng-hide-add {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in;
}

.animate-backdrop.ng-hide-add.ng-hide-add-active {
    background-color: rgba(0, 0, 0, 0);
}

.animate-backdrop.ng-hide-remove {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease-out;
}

.animate-backdrop.ng-hide-remove.ng-hide-remove-active {
    background-color: rgba(0, 0, 0, 0.5);
}

.wodk-navbar {
    z-index: 1111;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 26px;
    padding: 0px;
}

.wodk-navbar-title {
    font-size: 38px;
    font-weight: normal;
    margin-bottom: 18px;
}

.datatable-download {
    background: $vws-donkerpaars-3;
    float: right;
    text-align: right;
}

.datatable-grey {
    background: $header-grijs;
}

.no-mouse-events {
    pointer-events: none;
}

.all-mouse-events {
    pointer-events: all;
}

a {
    cursor: pointer;
}

.wodk-navbar .row {
    background: white;
    height: auto;
    max-height: 200px;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    -ms-transition: max-height 0.7s;
    -o-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

.container-fluid {
    width: 100%;
    padding: 0 0 0 0;
}

.wodk-navbar .row.opened {}

.wodk-navbar-logo-row {
    border-top: 2px grey solid;
}

.wodk-navbar-last-row {
    border-bottom: 2px $vws-donkerblauw-logo solid;
}

.wodk-navbar .row.collapsed2 {
    max-height: 0px;
    -webkit-transition: max-height 0.6s, background 0.3s;
    -moz-transition: max-height 0.6s, background 0.3s;
    -ms-transition: max-height 0.6s, background 0.3s;
    -o-transition: max-height 0.6s, background 0.3s;
    transition: max-height 0.6s, background 0.3s;
}

.open-navbar-btn {
    top: 0;
    margin: 0 auto 0 auto;
}

.wodk-btn {
    border-radius: 0px;
    border: none;
    background-image: none;
}

.wodk-btn-blue {
    background-color: $vws-donkerblauw-logo;
    width: 44px;
    height: 35px;
}

.wodk-btn-green {
    background-color: $vws-donkergroen-1;
}

.wodk-btn-purple:hover,
.wodk-btn-purple:focus,
.wodk-btn-purple:active,
.wodk-btn-purple:active:focus,
.wodk-btn-purple:active:hover {
    background-color: black;
}

.wodk-btn-purple {
    background-color: $vws-donkerpaars-1;
    min-width: 80px;
}

.wodk-navbar-logo {
    height: auto;
    min-height: 90px;
}

.wodk-navbar-closing-area {
    height: 240px;
}

.wodk-form-group-search {
    max-width: 500px;
}

.wodk-form-group {
    width: 100%;
    margin-bottom: 0px;
}

.wodk-form-group button {
    float: right;
    line-height: 43.2px;
    margin-top: 1px;
    font-size: 20px;
}

.wodk-form-group span {
    display: block;
    overflow: hidden;
}

.wodk-form-group input {
    border-radius: 0px;
    line-height: 42px;
    font-size: 18px;
    height: auto;
    display: inline-block;
    width: 100%;
    margin-top: 1px;
}

.rapport-link {
    padding: 8px 0px 0px;
}

.rapport-link a {
    padding: 0px 6px;
    line-height: 20px;
    vertical-align: middle;
}

.rapport-link i {
    padding-left: 0px;
}

.streetview-img {
    padding: 8px;
    text-align: center;
}

.text-grey {
    color: dimgrey;
}

.search-hint{
    font-style: italic;
    margin-top: 16px;
    margin-bottom: 6px;
}

.small-padding-lr {
    padding: 0 6px 0 6px;
}

.small-margin-top {
    margin: 8px 0 0 0;
}

.medium-margin {
    margin: 16px;
}

.medium-margin-vertical {
    margin-top: 16px;
    margin-bottom: 16px;
}

select.form-control.tt-input {
    height: 50px;
    border-radius: 0px;
    border: none;
    background: $vws-donkerpaars-3;
    color: black;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input.form-control.tt-input {
    background: white;
    height: 50px;
    border-radius: 0px;
    border: 1px solid black;
    color: black;
    font-weight: normal;
    -webkit-box-shadow: none;
    box-shadow: none;
}

select.form-control:focus {
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.datatable-select-all input {
    font-style: italic;
}

.wodk-form-group input.small {
    line-height: 45px;
    font-size: 16px;
}

.wodk-form-group button.small {
    line-height: 49px;
    margin: 1px 0px 0px 0px;
    min-width: 64px;
}

.ap-with-places {}

.ap-dataset-places {}

.ap-suggestions {}

.ap-dropdown-menu {
    margin-bottom: 6px;
    max-height: 140px;
    overflow-y: auto;
}

.ap-suggestion {
    height: 36px;
    line-height: 36px;
}

.animate-rightpanel.ng-hide-add {
    transform: rotateY(0);
    transform-origin: right;
    transition: all 0.4s ease-in;
}

.animate-rightpanel.ng-hide-add.ng-hide-add-active {
    transform: rotateY(-90deg);
}

.animate-rightpanel.ng-hide-remove {
    transform: rotateY(-90deg);
    transform-origin: right;
    transition: all 0.5s ease-out;
}

.animate-rightpanel.ng-hide-remove.ng-hide-remove-active {
    transform: rotateY(0);
}

.animate-navbar {
    z-index: 1111;
    position: relative;
}

.animate-navbar.ng-hide-add {
    transform: rotateX(0);
    transform-origin: top;
    transition: all 0.4s ease-in;
}

.animate-navbar.ng-hide-add.ng-hide-add-active {
    transform: rotateX(-90deg);
}

.animate-navbar.ng-hide-remove {
    transform: rotateX(-90deg);
    transform-origin: top;
    transition: all 0.5s ease-out;
}

.animate-navbar.ng-hide-remove.ng-hide-remove-active {
    transform: rotateX(0);
}

.animate-navbar-btn {
    z-index: 1110;
}

.animate-navbar-btn.ng-hide-add {
    transform: rotateX(0);
    transform-origin: down;
    transition: all 0.1s ease-in;
}

.animate-navbar-btn.ng-hide-add.ng-hide-add-active {
    transform: rotateX(-90deg);
}

.animate-navbar-btn.ng-hide-remove {
    transform: rotateX(-90deg);
    transform-origin: top;
    transition: all 0.4s cubic-bezier(0.75, 0, 1, -0.25);
}

.animate-navbar-btn.ng-hide-remove.ng-hide-remove-active {
    transform: rotateX(0);
}

.dropdown-selected,
.dropdown-selected:focus {
    font-weight: bold;
    font-size: 16px!important;
    color: $vws-donkerblauw-1;
    cursor: pointer;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.scrolling {
    overflow-y: auto;
}

.table-section-title {
    font-weight: bold;
    padding-left: 0px;
    cursor: pointer;
}

.table-section-title>span {
    padding: 4px 8px;
}

.table-row-title {
    padding-left: 0px;
}

.table-row-value {
    padding: 0px;
}

.table-row-value-small {
    font-size: 90%;
}

.table-row {
    padding: 6px 0px;
}

.table-section {
    margin: 22px 0px 0px;
}

.table-section-headers {
    font-style: italic;
    padding-right: 0px;
    text-align: right;
}

.table-entry-header {
    font-weight: bold;
    font-size: 125%;
}

.table-dash-grey {
    background-image: linear-gradient(to right, #ccc 100%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 16px 1px;
    background-repeat: repeat-x;
}

.table-dash {
    background-image: linear-gradient(to right, #ccc 100%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 16px 1px;
    background-repeat: repeat-x;
}

.property-table .collapsed .fa-caret-up {
    display: none;
}

.property-table .collapsed .fa-caret-down {
    display: inline;
}

.property-table .fa-caret-down {
    display: none;
}

.property-table-header {
    border-top: solid 1px #ccc;
    background: $header-grijs;
}

.property-table {
    font-size: 16px;
    line-height: 28px;
}

.property-table-compare {
    display: inline-block;
    max-width: 400px;
    padding: 0 16px;
    margin: 0 16px;
    background: $header-grijs;
    vertical-align: top;
}

.table-title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

.animate-sidepanel {
    transform: rotateY(-90deg);
    transform-origin: right;
    -o-transition: all 0.6s ease-in;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

.animate-sidepanel.show {
    transform: rotateY(0);
}

.modal-slide {
    opacity: 1;
    transform: rotateY(-90deg);
    transform-origin: right;
    -o-transition: all 0.8s ease-in;
    -webkit-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
}

.modal-slide.in {
    opacity: 1;
    transform: rotateY(0);
}

.modal.fade .modal-dialog {
    transition: none;
    transform: none;
}

.modal-backdrop {
   display: none!important;
}

.modal-lg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.modal-title {
    font-size: 24px;
    font-weight: normal;
}

.border-dashed-lr .active-button:first-child {
    border-left: none;
    margin-left: -10px;
}

.border-dashed-lr .active-button {
    border-left: solid 1px #ccc;
}

.search-hint-text {
    margin: 12px 0px 6px;
    font-size: 16px;
}

.zoom-button-nav {
    font-size: 24px;
}

.row.border-dashed-lr {
    margin: 6px 0px;
}

.btn-label {
    border-radius: 0px;
    background-color: $vws-donkerpaars-3;
    text-transform: uppercase;
    padding: 1px 6px;
    font-size: 14px;
    line-height: 2;
}

.btn-label-close {
    background-color: $vws-donkerpaars-2;
    min-width: 36px;
}

.rp-header {
    background: $header-grijs;
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 12px 4px;
}

.navbar-fixed-bottom {
    background: #f2eeee;
    color: black;
    border-color: transparent;
}

.navbar-nav>li>a,
.navbar-header a {
    color: black;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-header>a {
    color: black;
}

.navbar-inverse .navbar-header a:focus,
.navbar-inverse .navbar-header a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #555;
    text-decoration: none;
}

.navbar-dash-grey {
    background-image: linear-gradient(to bottom, #999 60%, dimgrey 0%);
    background-position: right;
    background-size: 16px 1px;
    background-repeat: repeat-y;
}

.navbar {
    border: none;
}

.navbar .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: black;
    background-color: inherit;
}

.navbar-header>div {
    color: black;
    display: inline-block;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.collapse,
.navbar-inverse .navbar-nav>.collapse>a:focus,
.navbar-inverse .navbar-nav>.collapse>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #333;
    background: white;
}

.navbar-inverse .navbar-nav>.collapse.collapsed {
    background: $header-grijs;
}

.navbar-inverse .navbar-header a,
.navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
    padding: 9px 0px;
}

.navbar-inverse .navbar-header a>div {
    padding: 12px 16px;
}

.navbar-inverse .navbar-nav li>a>div {
    border-right: 1px solid #ccc;
    padding: 6px 12px;
}

.navbar-mobile-toggle {

}

@media screen and (min-width: 768px) {
    .navbar-header {
        display: none;
    }
}

.navbar-inverse .navbar-header a>div>div,
.navbar-inverse .navbar-nav li>a>div>div {
    vertical-align: middle;
    display: inline-block;
}

.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
    margin-bottom: -1px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.arrow-right-link {
    height: 14px;
}

.wodk-baselayers-padding {
    padding: 0px 20px;
}

.wodk-baselayers-title {
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

$wodk-baselayers-img-height: 32px;
.wodk-baselayers-img-title {
    line-height: $wodk-baselayers-img-height;
    padding: 0;
    color: $vws-donkerblauw-1
}

.wodk-baselayers-img {
    padding-left: 20px;
}

.wodk-baselayers-img img {
    height: $wodk-baselayers-img-height;
    width: $wodk-baselayers-img-height;
}

.wodk-baselayers-entries {
    padding: 16px 0px 0px;
}

.wodk-baselayers-showlabels {
    padding: 16px 20px;
}

.no-padding {
    padding: 0;
}

.wodk-rightpanel {
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 10px 0px 10px 16px;
    display: flex;
    display: -ms-flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.wodk-rightpanel-fixed-top {
    padding-right: 16px;
}

.wodk-rightpanel-scrolling-content {
    padding-right: 16px;
    padding-top: 10px;
}

.wodk-checkbox input[type="checkbox"] {
    visibility: hidden;
}

.wodk-checkbox {
	width: 16px;
	margin: 2px;
	position: relative;
}

.wodk-checkbox label {
	cursor: pointer;
	position: absolute;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-bottom: 0px;
	top: 1px;
  	left: 0;
	background: $header-grijs;
	border:1px solid #333;
}

.wodk-checkbox label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 16px;
	height: 7px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 3px solid $vws-donkerblauw-logo;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

li.wodk-checkbox {
    padding-top: 2px;
}

.wodk-checkbox label:hover::after {
	opacity: 0.5;
}

.wodk-checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

// PAGINATION
.pagination>li>a,
.pagination>li>span {
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: none;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: black;
    cursor: default;
    background-color: $vws-donkerpaars-2;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #333;
}

.star-label {
    font-size: 28px;
    font-weight: bold;
    margin: 4px 8px;
    line-height: 32px;
    vertical-align: middle;
}

.data-table {
    font-size: 14px;
}

.filter-input:focus {
    outline: none;
}

.filter-slider-row {
    margin: 10px 0px 20px;
}

// SLIDER RANGE STYLING
$track-color: #ccc !default;
$thumb-color: $vws-donkerpaars-1 !default;

$thumb-radius: 6px !default;
$thumb-height: 12px !default;
$thumb-width: 12px !default;
$thumb-shadow-size: 1px !default;
$thumb-shadow-blur: 2px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 0px !default;
$thumb-border-color: black !default;

$track-width: 100% !default;
$track-height: 2px !default;
$track-shadow-size: 0px !default;
$track-shadow-blur: 0px !default;
$track-shadow-color: rgba(48, 48, 48, .2) !default;
$track-border-width: 0px !default;
$track-border-color: #cfd8dc !default;

$track-radius: 0px !default;
$contrast: 5% !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: pointer;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  cursor: pointer;
  height: $thumb-height;
  width: $thumb-width;
}

[type='range'] {
  -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  &::-moz-range-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: 0;
  }
}