.justified-brand {
    position: absolute;
    left: 50%;
    /* 50% of your logo width */
    margin-left: -50px !important;
    display: block;
}

.nav > li.dropdown > a, .navbar-default .navbar-nav > li > a {
    color: #eee;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-container .leaflet-control-attribution {
    margin: 0 30px 11px 0;
}

.leaflet-attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: blue;
    background-color: rgba(0, 0, 255, .5);
    margin: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.leaflet-attribution > a {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

.nav > li.open > a, .nav > li.active > a {
    color: black;
}

.navbar-fixed-top {
    background: #CCC1DA;
}

.navbar-fixed-subtop {
    background: #604A7B;
    top: 50px;
    z-index: 1031;
    border: 0;
    border-radius: 0;
}

.leftpanel-container {
    top: 100px !important;
    bottom: 90px !important;
}

.active-text {
    font-size: 14px;
}

.button-legend-color-entry {
    width: 12px;
    height: 12px;
}

.button-legend-entries {
    float: left;
    margin-right: 3px;
    margin-top: 1px
}

.button-container {
    background: rgba(229, 240, 249, 0.77);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 8px;
    color: black;
    min-height: 52px;
}

.button-container:active {
    background: #007bc7;
    color: white;
}

.button-container-down {
    background: #01689b;
    color: white;
}

.header-container {
    background: #007bc7;
}

.rightpanel {
    bottom: 16px !important;
}

.spinner > div {
    background-color: black;
    width: 24px;
    height: 24px;
    border: solid 1px black;
}

.spinner > h2 {
    color: black;
    font-weight: bold;
    border-radius: 0%;
    -webkit-animation: bouncedelaytext 1.4s infinite ease-in-out;
    animation: bouncedelaytext 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    text-shadow: white 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes bouncedelaytext {
    0%, 80%, 100% {
        -webkit-transform: scale(1.0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes bouncedelaytext {
    0%, 80%, 100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}

#rightpanelTabPanes {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.rightpanel-content {
    border: 1px #604A7B solid;
    border-radius: 0 0 4px 4px;
}

.callout-icon {
    margin-left: 5px;
    width: 48px;
    height: 48px;
}

.search-result-dropdown {
    background-color: white;
    margin-left: 60px;
    margin-top: 50px;
    height: 100%;
    min-height: 240px;
    max-width: 400px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
}

.search-result-list {
    position: relative;
    height: 75%;
    top: 0px;
}

.marker-cluster-small {
    background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-large {
    background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(15, 225, 255, 0.6);
}

.dc-chart g.row circle {
    cursor: pointer;
}

.dc-chart circle.deselected {
    stroke: none;
    fill: #ccc;
}

.dc-chart g.row polygon {
    cursor: pointer;
}

.dc-chart polygon.deselected {
    stroke: none;
    fill: #ccc;
}

.dc-chart rect {
    cursor: pointer;
}

.dc-chart path {
    cursor: pointer;
}

#legendboxtip {
    fill-opacity: 0.8;
}

#checkboxcheck.deselected {
    opacity: 0;
}

#checkboxcheck.selected {
    opacity: 1;
}

#checkboxbox.selected {
    stroke: black;
}

#checkboxbox.deselected {
    stroke: black;
}

#searchInput:-ms-input-placeholder {
    color: grey;
}

#searchInput {
    border-style: inset;
    padding: 1px;
}

.row {
    margin: 0 0 0 0;
    overflow: hidden;
}

.row [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.border-right {
    border-right: 2px #604A7B solid;
}

.border-bottom {
    border-bottom: 2px #CCC1DA solid;
}

.fill-height {
    height: 100%;
}

.wodk-title-row {
    background: #604A7B;
    color: white;
    padding: 4px;
    display: block;
}

.wodk-subtitle-row {
    background: #CCC1DA;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
}

.wodk-cumulative-row {}

.fixed-column-width {
    width: 310px;
}

.active-button {
    color: #eee;
    margin: 0;
    font-size: 1.3em
}

.inactive-button {
    margin: 0;
    color: #777777!important;
    pointer-events: none!important;
    cursor: default;
}

.fa-white {
    color: white;
}

.active-text {
    font-size: 12px;
}

.active-text table tbody tr td {
    border-bottom: 1px #CCC1DA solid;
    border-top: 1px #CCC1DA solid;
}

.dashboard-active {
    background: #CCC1DA;
    color: black;
}

.panel-heading {
    padding: 2px 10px 2px 10px;
}

.feature-prop-item {
    min-height: 20px;
}

.feature-prop-content {
    display: none;
}

.feature-prop-value-align-right {
    margin-top: -1.5em;
}

.tab-content {
    max-height: 510px;
}

.icons-on-hover {
    height: 0px;
}

.icons-on-hover:hover {
    display: none!important;
}

.dashboard-active > a > span {
    background: #CCC1DA;
    color: black;
}

.rightpanel-header {
    background: #CCC1DA;
    min-height: 80px;
}

.rightpanel-tabs {
    height: 0!important;
}

.rightpanel-tabs > div {
    height: 0;
}

.tab-content {
    background: rgb(227, 220, 231);
}

.dc-chart g.row text {
    font-size: 12px;
    font-family: Lucida Console, Consolas, Courier New, Monaco, monospace;
}