.leftpanel-container {
    top: 100px !important;
    bottom: 90px !important;
}

.active-text {
    font-size: 14px;
}

.button-legend-color-entry {
    width: 12px;
    height:12px;
}

.button-legend-entries {
    float:left;
    margin-right:3px;
    margin-top:1px
}

.button-container {
    background: rgba(229, 240, 249, 0.77);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
    cursor : pointer;
    font-size: 20px;
    margin-top:5px;
    margin-right: 8px;
    color:black;
    min-height: 52px;
    }

.button-container:active {
    background: #007bc7;
    color: white;
}

.button-container-down {
    background: #01689b;
    color: white;
}

.header-container {
    background: #007bc7;
}

.rightpanel { 
    bottom: 16px !important;
}

.spinner > div {
    background-color: black;
    width: 24px;
    height: 24px;
    border: solid 1px black;
}

.spinner > h2 {
    color: black;
    font-weight: bold;
    border-radius: 0%;
    -webkit-animation: bouncedelaytext 1.4s infinite ease-in-out;
    animation: bouncedelaytext 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    text-shadow: white 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes bouncedelaytext {
    0%,
    80%,
    100% {
        -webkit-transform: scale(1.0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}
@keyframes bouncedelaytext {
    0%,
    80%,
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.callout-icon {
    margin-left:5px;
    width: 48px;
    height: 48px;
}

.search-result-dropdown {
    background-color:white;
    margin-left: 60px;
    margin-top: 50px;
    height: 100%;
    min-height: 240px;
    max-width: 400px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
}

.search-result-list {
    position: relative;
    height: 75%;
    top: 0px;
}

.marker-cluster-small {
	background-color: rgba(15, 225, 255, 0.6);
}
.marker-cluster-small div {
	background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-medium {
	background-color: rgba(15, 225, 255, 0.6);
}
.marker-cluster-medium div {
	background-color: rgba(15, 225, 255, 0.6);
}

.marker-cluster-large {
	background-color: rgba(15, 225, 255, 0.6);
}
.marker-cluster-large div {
	background-color: rgba(15, 225, 255, 0.6);
}

.dc-chart g.row circle {
    cursor: pointer;
}

.dc-chart circle.deselected {
    stroke: none;
    fill: #ccc;
}

.dc-chart g.row polygon {
    cursor: pointer;
}

.dc-chart polygon.deselected {
    stroke: none;
    fill: #ccc;
}

.dc-chart rect {
    cursor: pointer;
}

.dc-chart path {
    cursor: pointer;
}

#checkboxcheck.deselected {
    opacity: 0;
}

#checkboxcheck.selected {
    opacity: 1;
}

#checkboxbox.selected {
    stroke: black;
}

#checkboxbox.deselected {
    stroke: black;
}

#searchInput:-ms-input-placeholder{
    color: grey;
}

#searchInput {
    border-style: inset;
    padding: 1px;
}